/* Settings */

@font-face {
	font-family: 'LeckerliOne';
	src: url('fonts/LeckerliOne-Regular.eot');
	src: local('☺'), url('fonts/LeckerliOne-Regular.woff') format('woff'), url('fonts/LeckerliOne-Regular.ttf') format('truetype'), url('fonts/LeckerliOne-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PollerOne';
	src: url('fonts/PollerOne.eot');
	src: local('☺'), url('fonts/PollerOne.woff') format('woff'), url('fonts/PollerOne.ttf') format('truetype'), url('fonts/PollerOne.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

/* Header */

.container_header {
	box-sizing: border-box;
	width: 100%;
	padding-top: 44px;
	padding-bottom: 50px;
}

.container_nav {
	box-sizing: border-box;
	margin: auto;
	width: 70%;
}

.logo_moustache {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* Navbar */

ul {
	display: flex;	
	flex-direction: row;
	justify-content: center;
	padding: 0;
	padding-top: 56px;
	margin: 0;
	list-style-type: none;
}

ul li {
	padding: 0 19px;
}

.nav_style {
	text-decoration: none;
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
}
.nav_style:hover {
	color: #0ba39c;
}

.logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* The beacon */

.background_the_beacon {
	background: url("media/the-beacon.jpg");
	height: 554px;
}

.container_the_beacon {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 554px;

}

.content_the_beacon {
	box-sizing: border-box;
	width: 70%;
	margin-right: auto;
	margin-left: 41%;
	margin-top: 8%;
	text-align: center;
}

.content_the_beacon p {
	color: white;
	background-color: #252525;
	font-size: 20px;
	padding: 12px 27px;
	margin: 0;
	margin-top: 7px;
	margin-bottom: 7px;
}

h1 {
	font-weight: lighter;
	font-size: 20px;
	background-color: white;
	color: black;
	padding: 23px 27px 20px;
	width: 33%;
	margin: 0;
	margin-bottom: 18px;
}

.content_the_beacon a {
	display: block;
	padding: 26px 27px 22px;
	background-color: #0ba39c;
	text-decoration: none;
	color: white;
	margin-top: 15px;
	width: 11%;
}

.content_the_beacon a:hover {
	background-color: #2BBDB5;
}

.p1 {
	width: 34%;
}

.p2 {
	width: 41%;
}

.p3 {
	width: 31%;
}

/* Images (father, actor, nerd) */

.container_images_index {
	padding-top: 50px;
}

.content_images_index {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

.content_images_index a {
	text-decoration: none;
	color: black;
}

.container_images_index img {
	border: solid;
	border-width: 2px;
	border-color: #1a1a1a;
	opacity: 0.8;
	transition: all, 0.8s;
}

.container_images_index img:hover {
	opacity: 1;
}

.container_images_index p {
	text-align: center;
	margin: 0;
	padding-top: 33px;
	font-size: 20px;
}

/* Footer */

.background_color_footer {
	background-color: #252525;
	width: 100%;
	height: 120px;
	margin-top: 50px;
}

.container_footer {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}

.container_footer img {
	display: block;
	margin-right: 15px;

}

.content_footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.content_footer p {
	color: white;
	margin-top: 25px;
}

.content_footer i {
	font-size: 65px;
	margin: 12px;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
}

.img_all {
	display: flex;
	flex-direction: row;
}

.twitter_logo:hover {
	border: solid;
	border-color: #00acee;
	border-width: 10px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.facebook_logo:hover {
	border: solid;
	border-color: #3b5998;
	border-width: 10px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.gplus_logo:hover {
	border: solid;
	border-color: #d34836;
	border-width: 10px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.pinterest_logo:hover {
	border: solid;
	border-color: #c8232c;
	border-width: 10px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}